.grid-container {
    padding: 10px;

}

.update-button {
    font-size: 12px;
}

.update-form {
    text-align: center;
}

.cart-table {
    margin: auto;
    width: 80%;
}

.price {
    text-align: center;
}

.title {
    text-align: center;
}

.item-row {
    border: 1px solid black;
    background-color: white;
}

.place-order {
    text-align: center;
}

td {
    padding: 10px;
}

#continueShoppingButton {
  font-size: 15px;
  float:right;
  padding-right:20px;
  padding-bottom: 10px;
}
