.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
}

.item-box {
    margin: 10px;
    border: 10px solid white;
    border-style: groove;
    border-radius: 10px;
    background-color: #f4ece2;
}

p {
    text-align: center;
}

.form-center {
    text-align: center;
    justify-content: center;
}

.menuItemTitles {
    font-size: 25px;
    font-weight: bold;
}
