.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
}

.item-box {
    margin: 10px;
    border: 5px solid black;
    border-style: groove;
    border-radius: 10px;
    background-color: white;
}

p {
    text-align: center;
}

.form-center {
    text-align: center;
    justify-content: center;
}

.menuItemTitles {
    font-size: 25px;
    font-weight: bold;
}

.title {
    text-align: center;
}

.add-button {
    border-radius: 12px;
    background-color: #259c1f;
    font-family: Ink Free;
}